 /* div .image {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
    border-radius: 50%;
  } */
  
  div img:hover  {
    box-shadow: 0 0 50px 1px rgba(0, 140, 186, 0.5);
    transform: scaleX(-1);
    width: 200px;
  height: 200px;
  }

  

  .container {
    position: relative;
    width: 50%;
    margin: 0 0 0 17%;

  }
  
  .image {
    /* display: block; */
    width: 8%;
    height: auto;
    padding: 20px;
    border: 3px solid rgb(80, 9, 9);
    border-radius: 50%;
    margin-right: 2%;
  
    
  }
  
  .overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    /* background-color:blue; */
    opacity: .5;
    /* background-image: url('../img/background1.jpg'); */
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
  }
  
  .container:hover .overlay {
    bottom: 0;
    height: 45%;
    width: 83%;
    border-radius: 50%;
  }
  
  .text {
    white-space: nowrap; 
    color: #141414;
    font-size: 50px;
    position:absolute;
    overflow: hidden;
    top: 30%;
    right: 35%;
    
    /* transform: translate(-10%, -10%);
    -ms-transform: translate(-10%, -10%); */
  }
  
  