

/* Style inputs */
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Style the container/contact section */
  .containerCont {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
    margin: 3% 10%;
  }
  
  /* Create two columns that float next to eachother */
  .columnNew {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
  }
  
  /* Clear floats after the columns */
  .rowNew:after {
    content: "";
    display: table;
    clear: both;
  }
  #conH2{
    font-size: 55px;
    font-weight: 500;
    text-align: center;
    color: rgba(67, 109, 4, 0.808); 
    margin: 0 0 3% 0;
  }
  #conP{
    font-size: 20px;
    font-weight: 200;
    text-align: center;
    color: rgba(67, 109, 4, 0.808); 
    margin: 0 0 3% 0;
  }