.headPage img {
    width: 100%;
    height: 400px;
    /* background-image: url(/man.jpg); */
}

p {
    font-family: 'serif';
    font-size: 22px;
}

#showImage section img {
    /* margin-top: 50px; */
    /* background-color: red; */
    /* display: block; */
    float: left;
    margin-left: 70px;
    /* margin-top: 50px; */
    width: 400px;
    height: 300px;
    position: absolute;
    top: 60px;
    border-radius: 10px;
}

#showImage section p {
    text-align: left;
    text-indent: 30px;
    word-spacing: 4px;
    position: absolute;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    padding: 20px;
    padding-top: 25px;
    margin: 20px;
    margin-left: 500px;
    height: 300px;
    width: auto;
    background-color: white;
    font-optical-sizing: 1;
    /* opacity: 0.7; */
    top: 40px;
    border-radius: 50px;
    overflow: auto;
}

#showImage section {
    position: relative;
    height: 400px;
    width: 100%;
    background-color: #f2f2f2;
}

#showImage section h2 {
    text-align: center;
    font-size: 50px;
    margin: 50px;
}

.animation {
    cursor: pointer;
    transition: .3s linear;
}

.animation:hover {
    transform: rotatey(20deg);
    box-shadow: -15px 0px 15px #9bf316ce;
}