/* input {
    width: 10%;
  }



  input[type=text] {
    border: none;
    border-bottom: 2px solid red;
    background-color: #d0dd2027;
    color: rgba(67, 109, 4, 0.808);
    padding: 8px 15px;
    font-size: medium;
   
    transition: width 0.4s ease-in-out;
    
  }
  input[type=text]:focus {
    width: 100%;
  }

  #result{
    border: none;
    border-bottom: 2px solid red;
    width: 100%;
    background-color: #d0dd2027;
    color: rgba(67, 109, 4, 0.808);
    font-size: medium;
    
  }

  #formF{
    background-color: #d0dd2027;

  }
 #mySelect {
    width: 100%;
    padding: 12px 16px;
    border:red solid 2px;
    border-radius: 20px;
 
    
  }

  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    
  }
  
  input[type=submit]:hover {
    background-color: #09f715;
  }
  input[type=Reset]{
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
   
  }
  input[type=Reset]:hover {
    background-color: #09f715;
  } */

  label {
    display: block;
    letter-spacing: 4px;
    /* padding-top: 5px; */
    text-align: center;
    padding: 0 20% 0 0;
    color: white;
  }

  #submit {
    background: transparent;
    color: #F0F0F0;
    border: 2px solid #F0F0F0;
    font-size: 15px;
    letter-spacing: 2px;
    padding: 20px 75px;
    text-transform: uppercase;
    cursor: pointer;
    display: inline-block;
    margin: 15px 550px;
    -webkit-transition: all 0.4s;
   -moz-transition: all 0.4s;
   transition: all 0.4s;

  }
  #submit:hover, button:focus {
    background-color: white;
    color: #333333;
  }

  #reset {
    background: transparent;
    color: #F0F0F0;
    border: 2px solid #F0F0F0;
    font-size: 15px;
    letter-spacing: 2px;
    padding: 20px 75px;
    text-transform: uppercase;
    cursor: pointer;
    display: inline-block;
    margin: 15px 550px;
    -webkit-transition: all 0.4s;
   -moz-transition: all 0.4s;
   transition: all 0.4s;

  }
  #reset:hover, button:focus {
    background-color: white;
    color: #333333;
  }

  input[type=text] {
    background: transparent;
    color:white;
    border: 2px solid #F0F0F0;
    font-size: 15px;
    letter-spacing: 2px;
    padding: 10px 50px;
    text-transform: uppercase;
    display: inline-block;
    margin: 0px 550px;
    -webkit-transition: all 0.4s;
   -moz-transition: all 0.4s;
   transition: all 0.4s;
  }
#result{
    background: transparent;
    color:white;
    border: 2px solid #F0F0F0;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 10px 50px;
    text-transform: uppercase;
    display: inline-block;
    margin: 0px 550px;
    -webkit-transition: all 0.4s;
   -moz-transition: all 0.4s;
   transition: all 0.4s;

}
#formF{
    /* background-color: black; */
    display: block;
    background-image: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.freepik.com%2Fpremium-photo%2Fcute-blonde-woman-doing-fitness-background-brick-wall-house-during-quarantine_8373520.htm&psig=AOvVaw32XsK8H4yt7qPlVtc0c53u&ust=1591686571690000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCJjGlt3U8ekCFQAAAAAdAAAAABAW');
    color: white;
}

#mySelect {
    background: transparent;
    color:white;
    border: 2px solid #F0F0F0;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 10px 50px;
    text-transform: uppercase;
    display: inline-block;
    margin: 0px 550px;
    -webkit-transition: all 0.4s;
   -moz-transition: all 0.4s;
   transition: all 0.4s;
 
    
  }


  body{
    font-family: sans-serif;
    /* background-image: url('../img/form-background2.jpg'); */
    /* background-image: url('../img/background3.jpg'); */
    background-image: url('../form background test/b1.jpg');
    /* background-image: url('../form background test/b2.jpg'); */
    /* background-image: url('../form background test/b3.jpg'); */
    /* background-image: url('../form background test/b4.jpg'); */
    background-repeat: no-repeat;
    
    background-size:100% 100% ;
 
   
  }
   
  #form1{
   background-color: black;
   opacity: .4;
  }