@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');
    /*  font-family: 'Playfair Display', serif;  */
    /* Font for H1,h2,h3: 'Playfair Display', size: 70px
    for p : serif, size 22px , line-height: 30px
    Color palatte  rgba(67, 109, 4, 0.808)/ #f2f2f2; / white */
 /* Background section: book now*/
 
     #background1 {
      /* opacity: .7; */
      width: 53%;
      position: absolute;
      top: 160px;
      /* right: -9%; */
      left: 2%;
  background-color: rgba(128, 128, 128,.5);

    }   

     #background1 #firstP{
    /*  position: relative; */
      /* left: 45px; */
      /* top: 23px; */
      font-size: 57px;
      color: floralwhite;
      font-weight: 900;
      line-height: 1.6;
      color: rgba(67, 109, 4, 0.808);

    
      }
    #background1 #firstB{
      /* position: relative; */
      
      height: 70px;
      width: 28%;
      margin: 5% 3% 4% 7%;
      font-size: 21px;
      color: rgba(67, 109, 4, 0.808);
      font-weight: 900;
      }
  

      #firstB:hover {background-color: #3e8e41;

      color: white;}

      #firstB:active {
        background-color: #3e8e41;
        box-shadow: 0 5px #666;
        color: white;
        transform: translateY(4px);

      }

#background2 {
  /* opacity: .7; */
  width: 53%;
  position: absolute;
  top: 160px;
  /* right: -9%; */
  left: 2%;
  background-color: rgba(128, 128, 128,.5);
}   
#background2 #secP{
  /*  position: relative; */
      /* left: 45px; */
      /* top: 23px; */
      font-size: 57px;
      color: floralwhite;
      font-weight: 900;
      line-height: 1.6;
      color: rgba(67, 109, 4, 0.808);


  }
#background2 #secB{

  height: 70px;
  width: 28%;
  margin: 5% 3% 4% 7%;
  font-size: 21px;
  color: rgba(67, 109, 4, 0.808);
  font-weight: 900;
}


#secB:hover {background-color: #3e8e41;
  color: white;

}

#secB:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}



#background3 {
  background-color: rgba(128, 128, 128,.7);
  /* opacity: .8; */
  width: 56%;
  position: absolute;
  top: 160px;
  /* right: -9%; */
  left: 6%;
}   
     
#background3 #thrdP{
  /* position: relative;  */
  /* left: 45px; */
  /* top: 23px; */
  font-size: 63px;
  color: rgba(67, 109, 4, 0.808);
  font-weight: 900;

  }
#background3 #thrdB{
  position: relative;
  left: 0;
  top: 0;
  height: 70px;
  width: 28%;
  margin: 5% 3% 4% 7%;
  font-size: 21px;
  color: rgba(67, 109, 4, 0.808);
  font-weight: 900;
}
     


#thrdB:hover {background-color: #3e8e41; color: white;}

#thrd:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  color: #007bb5;
}








* {box-sizing: border-box}
/* body {font-family: Verdana, sans-serif; margin:0} */
.mySlides {
  display: none; position: relative;}
/* img {vertical-align: middle;} */

/* Slideshow container */
.slideshow-container {
  /* max-width: 1000px; */
  position: relative;
  height: 616px;

  /* margin: auto; */
}






/* The dots/bullets/indicators */

.forDots {
  text-align: center;
  position: fixed;
  top: 44%;
  right: 0%;
  
}
.dot {
  cursor: pointer;
  height: 56px;
  width: 55px;
  margin: 0 2px;
  /* background-color: #bbb; */
  /* background-color: rgb(123, 190, 21); */
  /* border-radius: 50%; */
  display: block;
  border: 5px solid rgba(67, 109, 4, 0.808);
  transition: background-color 0.6s ease;
  position: relative;
  line-height: 40px;
  margin-bottom: 1px;
  background-color:  rgba(67, 109, 4, 0.808);


  
}

.active, .dot:hover {
  /* background-color: green; */
  /* width: 90px; */
  transform: scaleX(-1);
  box-shadow: 0 0 50px 1px rgba(0, 140, 186, 0.5);

}

.dot a{
  text-decoration: none;
}

#starmenu, #cartmenu{
  top: 0;
  
}

/* The dots/bullets/indicators */
/* .dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  /* border-radius: 50%; */
  /* display: inline-block;
  transition: background-color 0.6s ease;
}  */

.active {
  background-color: #717171;
}


/*//////////////////////////////////////////////////////////////////////////*/
/* classes*/
.sportmenu{
  background-color: rgb(242, 242, 242);

}
.sportmenu ul{
margin-top: 17px;}
.sportmenu li{
  float: left;
}

.sportmenu li a{
  text-decoration: none;
  color: rgba(67, 109, 4, 0.808);
  font-size: 35px;
  font-weight: 400;
  margin-right: 2px;
} 
/* .sportmenu ul li a p{
  /* position: absolute;
  left: 334px; */
 /* margin: 0 0 0 0;
}  */
#imgfav {
  /* border: groove; */
  margin: 2% 5% 0 5%;
  /* background-color: #f2f2f2; */
  /* background-blend-mode: hard-light; */
}


#imgfav img {
width: 100%;
height: 10%;
 border: 5px solid rgba(67, 109, 4, 0.808);


}
#imgfav img:hover  {
  box-shadow: 0 0 50px 1px  rgba(67, 109, 4, 0.808);
   transform: scaleX(-1); 
  /* width: 30%;
height: 400px; */

}

#sectionImage{
  margin: 96px 0 0 0;
    display: inline-block;
}

/* 
#around {
  width: 100px;
  height: 100px;
  background-color: red;
  position: relative;
  
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: 3;
}

@keyframes example {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}
 */


#geen{
 display: none;
}
a:active + #geen{
 display: block;
   
}
a:active + #black{
  display: none;
    
 }

* {
  box-sizing: border-box;
}

.column1 {
  float: left;
  width: 25%;
  padding: 27px;
 /* border: 5px solid rgba(67, 109, 4, 0.808); */
 margin-right: -4px;


}
 

.column {
  float: left;
  width: 25%;
  padding: 27px;
  margin-right: -4px;
 /* border: 5px solid rgba(67, 109, 4, 0.808); */


}
/* .column:hover  {
  box-shadow: 0 0 50px 1px rgba(0, 140, 186, 0.5); */
  /* transform: scaleX(-1); */
  /* width: 30%;
height: 400px;

} */
/* Clearfix (clear floats) */
.row::after, .row2::after {
  content: "";
  clear: both;
  display: table;
}


.row{
  margin-top: -3%;
    
  }
  /* .row2{
    margin-top: -3%;
      
    } */


  #allimg{
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    color: rgba(67, 109, 4, 0.808); 
    margin: 0 0 4% 0;
  }





#watch {
  margin: 2% 18% 0 21%;
}

#watch h3{
  font-size: 55px;
  font-weight: 700;
  text-align: center;
  color: rgba(67, 109, 4, 0.808); 
  margin: 0 0 3% 0;
  font-family: 'Playfair Display'; 
  font-size: 70px;

}

#watch #pstream{
  font-size: 20px;
  font-weight: 200;
  text-align: center;
  color: rgba(67, 109, 4, 0.808); 
  margin: 0 0 3% 0;

}
#watch #tv {
  margin: 0 0 2% 20%;

}
#app{
  margin: 4% 0 0 13%;
}
#stream {
  margin: 2% 0 0 0;
  color: rgba(67, 109, 4, 0.808);  
  text-align: center;

}

















/* #form1{
    padding-bottom: 300px;
    
} */

/* Header*/
#logo{
  float: left;
  width: 5%;
  height: 7%;
  margin: -1.1% 0 0 2.3%;

}

#logo:hover {
  box-shadow: -2px -2px 10px #9bf316ce;
  
}  
#HeaderTitle{
  font-size: 50px;
  display: inline-block;
  margin:0 0 0 -1%;
  color: #436d04;
}
#home{
  margin:0 0 0 0;
  /* position: fixed; */
  background-color: rgb(243, 239, 239);
  padding: 1% 0 31.5px 0;
  opacity: .7;

}

#header-container{
margin: .3% 0 0 0;

}
nav.top {
  text-align: right;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  font-family: oswald;
  font-size: 2.25em;
}

nav.top a {
color: #436d04ce;
text-decoration: none;
padding-left:5px;
}
#headerList{
margin: 0 0 0 0;
}
nav.top li {
vertical-align: bottom;
display: inline;
position: relative;
transition: all ease .3s;
padding: 0 10px;
}
nav.top li:hover {
  background: #436d04ce;
  
  color: white;
  border-radius: 20%;
  padding: 5px;
  
}
nav.top li a:hover {
  /* background: #7d8176ce; */
  
  color: white;
}

nav.top li::before {
  content: "";
  position: absolute;
top:4px;
left:0;
bottom:0;
border-left: solid 1px white;
height: 80%;


} 

nav{
/* float: right; */
float:right;
margin:0 0 0 0;

 }

 footer{
  background-color: rgba(128, 128, 128,.4);
  padding: 2% 0 4% 0;
  margin: 0% 0 0 0;
  position: static;
  bottom: 0;
  width: 100%;
}

#footerIcons{
float: right;
margin: 0 1% 0 0;


}

#logo-footer{
float: left;
width: 5%;
height: 5%;
margin: -19px 0 0 0%;

}

#FooterTitle{
  font-size: 50px;
  display: inline-block;
  margin: 8px 0 0px -1%;
  color: #436d04;

}

#contact-us{
margin: 2% 0 0 3%;
text-decoration: none;
}


#h3-contact{
font-size: 33px;
display: inline-block;
}

#about-footer{
padding: 0 0 0 0;
margin: 1% 0 0 9%;

}




/* Icons for footer social media: 
----------------------------------------------------------------------------------
*/

.fa {
padding: 20px;
font-size: 30px;
width: 30px;
text-align: center;
text-decoration: none;
margin: 5px 2px;
border-radius: 50%;
}

.fa:hover {
opacity: 0.7;
}

.fa-facebook {
background: #3B5998;
color: white;
}

.fa-twitter {
background: #55ACEE;
color: white;
}
.fa-linkedin {
background: #007bb5;
color: white;
}

.fa-youtube {
background: #bb0000;
color: white;
}

.fa-instagram {
background: #125688;
color: white;
}
/* 
#contact-us{
margin: 2% 0 0 3%;
text-decoration: none;
}


#h3-contact{
font-size: 33px;
display: inline-block;
}

#about-footer{
padding: 0 0 0 0;
margin: 1% 0 0 9%;

} */


.fa-facebook-f:before, .fa-facebook:before {
  content: "\f09a";
  margin-left: -3px;
}
.fa-twitter-f:before,.fa-twitter:before,.fa-instagram-f:before,.fa-instagram:before, .fa-youtube-f:before ,.fa-youtube:before , .fa-linkedin-f:before ,.fa-linkedin:before{
  margin-left: -5px;

}
